* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", system-ui;
  background: #bdbdbd;
}

/* ==========common============ */
.container {
  width: 1170px;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ==========header============ */
.header {
  min-height: 80px;
  background: #818080;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-logo {
  width: 360px;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ThuongHieu {
  position: absolute;
  top: 22px;
  left: 70px;
  font-size: 1.8rem;
  color: #47340a;
  font-family: "Lobster", sans-serif;
  font-size: 30px;
}

.logo {
  width: 70px;
}

.navbar__list {
  display: flex;
}

.navbar__link:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #060606;
}
.navbar__link {
  padding: 8px 21px;
  color: #080704;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
}

.header-top-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.header-top-cart p {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  color: #000000;
}

.header-top-cart p:hover {
  color: #691414;
}
.header-top-cart .user:hover a,
.header-top-cart .cart:hover a {
  text-shadow: 0.5px 0 0 currentColor;
  color: #691414;
  cursor: pointer;
}

.header-top-cart .user,
.header-top-cart .cart {
  padding-top: 5px;
  border: 1px solid #3e3c37;
  border-radius: 50px;
}

/* =========================DEAL  ===================== */
.deal1 {
  width: 1170px;
  border-radius: 5px;
}
/* =========================SLIDE ===================== */
.slider-header img {
  width: 100%;
  object-fit: cover;
}

.slider-father {
  position: relative;
}

.slider-child {
  position: relative;
  height: 660px;
  transition: all 0.5s;
}

.slider-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-btn:hover i {
  opacity: 1;
}

.slider-btn i {
  color: #333;
  font-style: 32px;
  height: 60px;
  width: 33px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.slider-father img {
  width: 100%;
  position: absolute;
  transition: 0.5s;
}
/* muc thanh pham*/
.slider-child a:nth-child(2) img {
  transform: translateX(100%);
}
/* dac quyen */
.slider-child a:nth-child(3) img {
  transform: translateX(200%);
}

.slider-father {
  overflow: hidden;
}
/* =========================kem nhung ===================== */
.sanpham .kemnhung-content {
  padding: 12px;
}

.kemnhung-content-title {
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 50px 15px 20px;
  color: #000000;
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}
.kemnhung-content-items {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: 0.7s;
}

.kemnhung-content-item:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}

.kemnhung-img {
  width: 270px;
  border-radius: 5px;
  object-fit: cover;
}

.kemnhung-content-item {
  margin-top: 20px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}
.kemnhung-content-item-text {
  margin-left: 8px;
}

.kemnhung-content-item-text sup {
  font-size: 0.8em;
}

.kemnhung-content-item li {
  margin-bottom: 6px;
}

.kemnhung-content-item-text li:first-child {
  padding-top: 5px;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.kemnhung-content-item-text strong {
  background-color: #b60404;
  padding: 2px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.kemnhung-content-item-text li:nth-child(2) {
  margin: 15px 0;
  font-style: italic;
  font-size: 1.4rem;
  color: #3e3c37;
}

.kemnhung-content-item-text li:nth-child(3) {
  color: #f10000;
}

.kemnhung-content-item-text li:last-child {
  display: inline-block;
  background-color: #fff;
  color: #d54700;
  border: 1px solid #e65d19;
  border-radius: 3px;
}
/* =================kẹp tóc=========== */

.keptoc-header {
  padding: 40px 0;
}

/* =================foolter=========== */
.foolter {
  padding: 50px 0 30px 0;
  background: rgba(189, 189, 189, 0.395);
}

.foolter li:hover {
  cursor: pointer;
  color: #e65d19;
}

.foolter-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #141414;
}

.foolter-thuonghieu {
  top: 55px;
  color: #d19c08;
}

.foolter-colunm {
  padding-top: 20px;
  position: relative;
}

.foolter-colunm li {
  margin: 15px;
  color: #3e3c37;
}

.foolter-colunm ul {
  margin-top: 40px;
}

.foolter-heading {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 600;
}

.foolter-colunm strong {
  font-weight: 700;
  color: #000000;
}

.socials li,
a {
  color: #3e3c37;
  margin-top: 25px;
}

.socials li:hover a {
  color: #e65d19;
}
